sudo: false
language: go

go:
  - tip

install:
  - go get ./...
  - go get -u github.com/alecthomas/gometalinter
  - gometalinter --install --update

script:
  - gometalinter -D gocyclo -D gas --deadline=20s
  - go test -v ./...
